<div id="site_info">
    <img src="/public/img/splash.png" style="width: 100%; padding: 51px;"/>
    <div id="site_info_text">
        <h3>
        Homobiles is a California NPO 501c3 committed to providing secure and reliable transit to the SF Bay Area LGBTIQQ community and its allies.
        </h3>
        <br>
        <h5>
        We accept donations to help cover the costs of operation. Donation is 100% voluntary & is not a condition of service. No one turned away for lack of funds. 
        </h5>
        <br>
        <h5>
        Operating on a prebook basis only. We are available via text for advanced booking, 7 days a week, with the support of the Homobiles volunteer staff. 
        </h5>
    </div>
</div>
