<div id="site_info" class="jumbotron">
    <div id="jumbotron-content">
            <div id="text_break_no_circle">
                    <% include ../components/starlogo.ejs %>
            </div>
        <div id="site_info_text">
            <div id="text_blob">
                <h2 id="index_info_1" class="index_info">
                    Homobiles is a California NPO 501c3 committed to providing secure and reliable transit to the SF Bay
                    Area LGBTIQQ community and its allies.
                </h2>
                <br>
                <h5 id="index_info_2" class="index_info">
                    We accept donations to help cover the costs of operation. Donation is 100% voluntary & is not a
                    condition of service. No one is turned away for lack of funds.
                </h5>
                <br>
                <h5 id="index_info_3" class="index_info">
                    Operating on a prebook basis only. We are available via text for advanced booking, 7 days a week, with
                    the support of the Homobiles volunteer staff.
                </h5>
            </div>
        </div>
    </div>
</div>
