<div id="site_info" class="jumbotron">
        <% include ../components/starlogo.ejs %>
    <div id="jumbotron-content">
        <div id="illustration">
            <img src="/public/img/illustrations/cars.png" />
        </div>
        <div id="site_info_text">
            <p>
                Homobiles is a California NPO 501c3 committed to providing secure and reliable transit to the SF Bay
                Area
                LGBTIQQ community and its allies.
            </p>
            <br>
            <p>
                We accept donations to help cover the costs of operation. Donation is 100% voluntary & is not a
                condition of
                service. No one turned away for lack of funds.
            </p>
            <br>
            <p>
                Operating on a prebook basis only. We are available via text for advanced booking, 7 days a week, with
                the
                support of the Homobiles volunteer staff.
            </p>
        </div>
    </div>
</div>