<div class="card card_form pink">
    <h5 class="card-header text_to_fetch_header">Text to Fetch</h5>
    <div class="card-body text-center text_to_fetch">
        <h2 id="text_to_fetch_number">
            text: (415)574-5023
        </h2>
        <h6 class="text_to_fetch_info" id="text_to_fetch_tagline">
            make sure to include your:	
        </h6>
        <div class="text_to_fetch_info_box text-left">
            <p class="text_to_fetch_info">
                <i class="material-icons">person</i>
                Name
            </p>
            <p class="text_to_fetch_info">
                <i class="material-icons">record_voice_over</i>
                Pronoun
            </p>
            <p class="text_to_fetch_info">
                <i class="material-icons">my_location</i>
                Pickup Address
            </p>
            <p class="text_to_fetch_info">
                <i class="material-icons">map</i>
                Destination Address
            </p>
            <p class="text_to_fetch_info">
                <i class="material-icons">group</i>
                Number of Passengers
            </p>
            <p class="text_to_fetch_info">
                <i class="material-icons">work</i>
                Number of Bags
            </p>
            <p class="text_to_fetch_info last">
                <i class="material-icons">accessible</i>
                Special Requests
            </p>
        </div>
    </div>
</div>
