<div class="bg-white border-bottom shadow-sm" id="main_nav">
	<div class="container">
		<a href="/" id="logo">
			Homobiles
		</a>
		<div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
			<a class="p-2 nav-link" href="/for-drivers">For Drivers</a>
			<a class="p-2 nav-link" href="/for-riders">For Riders</a>
			<a class="p-2 nav-link" href="/why-homobiles">Why Homobiles</a>
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<a class="btn btn-outline-secondary nav-link" href="/signup">Sign up</a>
			</div>
            <!--
			<div class="btn-group mr-2" role="group" aria-label="Second group">
				<a class="btn btn-outline-secondary nav-link" href="/login">Log in</a>
			</div>
            -->
		</div>
	</div>
</div>
