<div class="input-group mb-2 select-group">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons">
                loyalty
            </i>
        </div>
    </div>
    <select id="pronoun" class="form-control">
        <option value="">
            pronouns
        </option>
        <option value="masculine">
            he/him/his
        </option>
        <option value="feminine">
            she/her/hers
        </option>
        <option value="neutral">
            they/them/theirs
        </option>
        <option value="neutral">
            ze/zir/zirs
        </option>
        <option value="neutral">
            ze/hir/hirs
        </option>
        <option value="other">
            other
        </option>
    </select>
</div>