<div class="input-group mb-2">
    <select id="pronoun" class="form-control">
        <option disables="">
            Pronoun
        </option>
        <option value="masculine">
            He/Him/His
        </option>
        <option value="feminine">
            She/Her/Hers
        </option>
        <option value="neutral">
            They/Them/Theirs
        </option>
        <option value="neutral">
            Ze/Zir/Zirs
        </option>
        <option value="neutral">
            Ze/Hir/Hirs
        </option>
        <option value="other">
            Other 
        </option>
    </select>
</div>
