<div class="input-group mb-2">
    <select id="pronoun" class="form-control">
        <option disables="">
            Pronoun
        </option>
        <option value="he">
            He
        </option>
        <option value="she">
            She
        </option>
        <option value="they">
            They
        </option>
    </select>
</div>
