<div class="input-group mb-2">
    <select id="pronoun" class="form-control">
        <option disables="">
            Pronoun
        </option>
        <option value="he">
            He
        </option>
        <option value="him">
            Him
        </option>
        <option value="his">
            His
        </option>
        <option value="she">
            She
        </option>
        <option value="her">
            Her
        </option>
        <option value="hers">
            Hers
        </option>
        <option value="they">
            They
        </option>
        <option value="them">
            Them
        </option>
        <option value="theirs">
            Theirs
        </option>
        <option value="ze">
            Ze
        </option>
        <option value="zir">
            Zir
        </option>
        <option value="zirs">
            Zirs
        </option>
        <option value="ze">
            Ze
        </option>
        <option value="hir">
            Hir
        </option>
        <option value="hirs">
            Hirs
        </option>
        <option value="other">
            Other 
        </option>
    </select>
</div>
