<div class="input-group mb-2">
    <select id="smartphone_type" class="form-control">
        <option disables="">Smartphone Type</option>
        <option value="android">
            android
        </option>
        <option value="blackberry">
            blackberry
        </option>
        <option value="iphone">
            iphone
        </option>
        <option value="windows">
            windows
        </option>
    </select>
</div>
