<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons">
                smartphone
            </i>
        </div>
    </div>
    <select id="smartphone_type" class="form-control">
        <option disables="">smartphone type</option>
        <option value="android">
            android
        </option>
        <option value="blackberry">
            blackberry
        </option>
        <option value="iphone">
            iphone
        </option>
        <option value="windows">
            windows
        </option>
    </select>
</div>