<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons">
                smartphone
            </i>
        </div>
    </div>
    <select id="smartphone_type" class="form-control" style="text-transform:lowercase">
        <option disables="">smartphone provider</option>
        <option value="AT&T">AT&T</option> 
        <!-- SMS -->
        <!-- number@txt.att.net -->
        <!-- MMS -->
        <!-- number@mms.att.net -->
        <option value="T-Mobile">T-Mobile</option> 
        <!-- SMS & MMS -->
        <!-- number@tmomail.net -->
        <option value="Verizon">Verizon</option> 
        <!-- SMS  -->
        <!-- number@vtext.com -->
        <!-- MMS -->
        <!-- number@vzwpix.com -->
        <option value="Sprint">Sprint</option> 
        <!-- SMS -->
        <!-- number@messaging.sprintpcs.com -->
        <!-- MMS -->
        <!-- number@pm.sprint.com -->
        <option value="XFinity Mobile">XFinity Mobile</option> 
        <!-- SMS -->
        <!-- number@vtext.com -->
        <!-- MMS -->
        <!-- number@mypixmessages.com -->
        <option value="Virgin Mobile">Virgin Mobile</option> 
        <!-- SMS -->
        <!-- number@vmobl.com -->
        <!-- MMS -->
        <!-- number@vmpix.com -->
        <option value="Tracfone">Tracfone</option> 
        <!-- MMS -->
        <!-- number@mmst5.tracfone.com -->
        <option value="Metro PCS">Metro PCS</option> 
        <!-- SMS & MMS -->
        <!-- number@mymetropcs.com -->
        <option value="Boost Mobile">Boost Mobile</option> 
        <!-- SMS -->
        <!-- number@sms.myboostmobile.com -->
        <!-- MMS -->
        <!-- number@myboostmobile.com -->
        <option value="Cricket">Cricket</option> 
        <!-- SMS -->
        <!-- number@sms.cricketwireless.net -->
        <!-- MMS -->
        <!-- number@mms.cricketwireless.net -->
        <option value="Republic Wireless">Republic Wireless</option> 
        <!-- SMS -->
        <!-- number@text.republicwireless.com -->
        <option value="Google Fi (Project Fi)">Google Fi (Project Fi)</option> 
        <!-- number@msg.fi.google.com (SMS & MMS) -->
        <option value="U.S. Cellular">U.S. Cellular</option> 
        <!-- SMS -->
        <!-- number@email.uscc.net -->
        <!-- MMS -->
        <!-- number@mms.uscc.net -->
        <option value="Ting">Ting</option> 
        <!-- number@message.ting.com -->
        <option value="Consumer Cellular">Consumer Cellular</option> 
        <!-- number@mailmymobile.net -->
        <option value="C-Spire">C-Spire</option> 
        <!-- number@cspire1.com -->
        <option value="Page Plus">Page Plus</option> 
        <!-- number@vtext.com -->
    </select>
</div>