<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons">
                person
            </i>
        </div>
    </div>
    <input type="text" class="form-control" id="username" placeholder="username">
</div>
<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons">
                filter_1
            </i>
        </div>
    </div>
    <input type="text" class="form-control" id="first_name" placeholder="first name">
</div>
<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons">
                filter_2
            </i>
        </div>
    </div>
    <input type="text" class="form-control" id="last_name" placeholder="last name">
</div>
<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons">
                lock
            </i>
        </div>
    </div>
    <input type="password" class="form-control" id="password" placeholder="password">
</div>
<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons">
                lock
            </i>
        </div>
    </div>
    <input type="password" class="form-control" id="repeat_password" placeholder="verify password">
</div>