<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons">
                exposure_plus_2
            </i>
        </div>
    </div>
    <select id="vehicle_doors" class="form-control" style="text-transform:lowercase">
        <option disables="">number of doors</option>
        <option value="2">
            Two Doors
        </option>
        <option value="3">
            Three Doors
        </option>
        <option value="4">
            Four Doors
        </option>
        <option value="5">
            Five Doors
        </option>
        <option value="5+">
            Five+ Doors
        </option>
    </select>
</div>