<%- include("../common/static_page/top.ejs", {
	body_style: "details_page"
}) %>
<br>
<div class="row container-fluid" id="for_page">
	<div class="col-sm-12" id="for_riders_page">
		<br>
		<div id="text_blob">
				<p class="page_header">Interested in becoming a Homobiles Driver?</p>
				<br>
				<p>We're flattered you want to join Homobiles!
					<br>
					<br>Our community relies on us to provide secure, reliable, and tender transporation, regardless of
					ability
					to pay.
					Note, we are not taking applications from jerks at this time.
				</p>
			</div>
			<div id="text_break_circle">
				<% include ../components/starlogo.ejs %>
			</div>
	
			<div id="text_blob">
				<p>Although Homobiles provides transportation for people regardless of pay, we also believe in paying
					drivers
					for their service.
					It's a lot of work hustling people around! We also have a NO JERKS policy. We don't serve jerks. Neither
					should you.
					If you need support for any reason, we have support avaiable 24/7.
				</p>
			</div>
	
			<div id="text_break_no_circle">
				<img src="/public/img/illustrations/24-7.png">
			</div>
	
			<div class="quote">
				<p>
					"The difference between Homobiles and a cab is that a cabbie needs to make it worth their while because
					it's
					their job.
					As a nonprofit, our job is to simply help people in danger who are gender or sexual outlaws, – or even
					just
					women, which is apparently some kind of outlaw – where they are going safely."
					<br>
					- Lynn Breedlove
				</p>
			</div>
	
			<div id="text_break_no_circle">
				<img src="/public/img/illustrations/cars.png">
			</div>
	
			<div id="text_blob">
				<p>
					Give back to the community, while earning cash from a queer-owned organization.
				</p>
			</div>
	
			<div id="text_break_no_circle">
				<img src="/public/img/illustrations/money.png">
			</div>
		</div>
	</div>
<% include ../common/static_page/bottom.ejs %>