<%- include("../common/static_page/top.ejs", {
	body_style: "details_page"
}) %>

<h1>For Drivers</h1>
<h5>See what it's like to be a driver for Homobiles</h5>

<% include ../common/static_page/bottom.ejs %>
