<%- include("../common/static_page/top.ejs", {
	body_style: "details_page"
}) %>

<h1>For Riders</h1>
<h5>See why riding with Homobiles is different</h5>

<% include ../common/static_page/bottom.ejs %>
