<%- include("../common/static_page/top.ejs", {
	body_style: "index"
}) %>

<div class="row" id="index_page">
	<div class="col-lg-7">
        <% include ../components/site_info.ejs %>
        <br>
	</div>
	<div class="col-lg-5">
        <% include ../forms/request_a_ride.ejs %>
		<%- include ../components/line_or.ejs %>
		<%- include ../components/text_to_fetch.ejs %>
	</div>
</div>

<% include ../common/static_page/bottom.ejs %>
