<%- include("../common/static_page/top.ejs", {
	body_style: "index"
}) %>
<br>
<div class="col-sm-12" id="info_section">
		<% include ../components/site_info.ejs %>
        <br>
	</div>
<div class="row container-fluid" id="index_page">
	<div class="col-sm-12" id="form_section">
			<br>
		<% include ../forms/request_a_ride.ejs %>
		<br>
		<%- include ../components/line_or.ejs %>
		<br>
		<%- include ../components/text_to_fetch.ejs %>
	</div>
</div>

<% include ../common/static_page/bottom.ejs %>
