<br>
<br>
<br>
<footer class="footer mt-auto py-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<% include ../../components/footer_components/donations.ejs %>
			</div>
			<div class="col-md-3">
				<% include ../../components/footer_components/terms_of_service.ejs %>
			</div>
			<div class="col-md-3">
				<% include ../../components/footer_components/site_map.ejs %>
				<br>
				<% include ../../components/footer_components/social_media.ejs %>
			</div>
			<div class="col-md-3">
				<% include ../../components/footer_components/about.ejs %>
				<div id="illustration">
					<img src="/public/img/splash.png" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
			<% include ../../components/footer_components/copyright.ejs %>
			</div>
		</div>
	</div>
</footer>
