<div id="FORM_request_a_ride" class="card card_form purple">
    <h5 class="card-header">
        Request a Ride
    </h5>
    <div class="card-body">
        <div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                        person 
                        </i>
                    </div>
                </div>
                <input type="text" class="form-control" id="name"
                    placeholder="Your Name">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                        access_time
                        </i>
                    </div>
                </div>
                <input type="text" class="form-control" id="pickup_time"
                    placeholder="Pickup Time">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                        record_voice_over
                        </i>
                    </div>
                </div>
                <select id="pronoun" class="form-control">
                    <option value="">
                        Pronoun
                    </option>
                    <option value="masculine">
                        He/Him/His
                    </option>
                    <option value="feminine">
                        She/Her/Hers
                    </option>
                    <option value="neutral">
                        They/Them/Theirs
                    </option>
                    <option value="neutral">
                        Ze/Zir/Zirs
                    </option>
                    <option value="neutral">
                        Ze/Hir/Hirs
                    </option>
                    <option value="other">
                        Other 
                    </option>
                </select>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                        phone_iphone 
                        </i>
                    </div>
                </div>
                <input type="text" class="form-control" id="phone_number"
                    placeholder="Your Phone Number">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                        my_location
                        </i>
                    </div>
                </div>
                <input type="text" class="form-control" id="start_location" placeholder="Pickup Address">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                        map
                        </i>
                    </div>
                </div>
                <input type="text" class="form-control" id="end_location" placeholder="Destination Address">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                        group
                        </i>
                    </div>
                </div>
                <input type="number" class="form-control" id="passenger_count" placeholder="Number of Passengers">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                        work
                        </i>
                    </div>
                </div>
                <input type="number" class="form-control" id="num_bags" placeholder="Number of Bags">
            </div>
            <div class="input-group mb-2">
                <textarea id="special_req" class="form-control" placeholder="Special requests"></textarea>
            </div>
            <% include ../components/form_message.ejs %>
            <div class="text-right">
                <button class="btn btn-outline-secondary"
                    onclick="applib.forms.request_a_ride()">
                Request a Ride</button>
            </div>
        </div>
    </div>
</div>
