<div id="FORM_rider_signup" class="card card_form pink">
    <h5 class="card-header">
        3 of 3
    </h5>
    <div class="card-body">
        <% include ../components/form_message.ejs %>
        <div class="text-right">
            <button class="btn btn-outline-secondary"
                onclick="applib.forms.rider_signup()">
            Sign Up!
            </button>
        </div>
    </div>
</div>
