<h5 class="purple">Make a Recurring Donation</h5>
<form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="VCTZGUXQB7KV4">
	<input type="hidden" name="on0" value="Recurring Monthly Donation">
	<select name="os0" class="form-control">
		<option value="Good Puppy">Good Puppy : $5.00 USD - monthly</option>
		<option value="Main Squeeze">Main Squeeze : $10.00 USD - monthly</option>
		<option value="Friend with Benefits">Friend with Benefits : $25.00 USD - monthly</option>
		<option value="Homobile Faithful">Homobile Faithful : $50.00 USD - monthly</option>
		<option value="Dyed in the Wool">Dyed in the Wool : $75.00 USD - monthly</option>
		<option value="Gold Star Booty Call">Gold Star Booty Call : $100.00 USD - monthly</option>
		<option value="Platinum Queer">Platinum Queer : $500.00 USD - monthly</option>
		<option value="Sister Religious Experience">Sister Religious Experience : $1,000.00 USD - monthly</option>
	</select>
	<input type="hidden" name="currency_code" value="USD">
	<br>
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<h5 class="purple">Make a Single Donation</h5>
<form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="BTRKTYT9YRFEC">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
