<h5 class="purple">Site Map</h5>
<p class="footer_sitemap_item">
	<a href="/for-drivers">For Drivers</a>
</p>
<p class="footer_sitemap_item">
	<a href="/for-riders">For Riders</a>
</p>
<p class="footer_sitemap_item">
	<a href="/why-homobiles">Why Homobiles</a>
</p>
<br>
<p class="footer_sitemap_item">
	<a href="/signup">Sign Up</a>
</p>
<p class="footer_sitemap_item">
	<a href="/login">Log In</a>
</p>
