<h5 class="purple">Find us on Social Media</h5>
<a href="https://www.facebook.com/pages/HOmobiles/119693954760427" target="_blank">
	<i class="fa fa-facebook" aria-hidden="true"></i>
</a>
<a href="https://twitter.com/homobiles" target="_blank">
	<i class="fa fa-twitter" aria-hidden="true"></i>
</a>
<a href="https://www.youtube.com/channel/UC2Z6q_dQpssw26C9NyE0fuw" target="_blank">
	<i class="fa fa-youtube" aria-hidden="true"></i>
</a>