<h5 class="purple">Terms of Service</h5>
<p>We are not for hire. Donation is not a requirement of service. We are here to provide emotional safety to underserved communities who experience stress or discrimination on various forms of transportation due to their gender or sexual identity. Please direct any questions to Homobiles at homobiles@gmail.com</p>
